**
!package.json
!package.nls.json
!package.nls.zh-cn.json
!LICENSE
!THIRD_PARTY_NOTICES.md
!dist/extension.cjs
!dist/supervisor.cjs
!dist/idle-guard.mjs
!dist/bridge.js
!dist/adapter.js
!dist/*.LEGAL.txt
!webview/style.css
!resources/**
!EXTENSION.md
